<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/DefensorDaHortaHorizontal.png" alt="">
            <h1>Defensor da Horta</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Gênero:</b>  Tower Defense</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Plataforma:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Desenvolvedores:</b> solo</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Tempo de desenvolvimento:</b> menos de 6 meses</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/DefensorDaHortaV1.mp4">
                    //Video
                  </video>
                <p>
                    O defensor da Horta foi um tower defense desenvolvido nas minhas férias. Ele foi feito para entender como o sistema de tower defense funcionava, de forma prática, já que eu ainda não tinha tanta experiência em programação nesse estilo mais focado em level design. Nele eu tive que lidar com formas de corrigir problemas de arte direto no código e modularizar informações importantes para um level designer. Em geral, a programação do jogo foi até fácil, dado o pouco tempo de produção.
                </p>
            </section>
            <section class="invert">
                <p class="left">
                    Foi bastante divertido fazer as ilustrações e os conceitos de personagens para os jogos, que foram bastante baseados em plantas vs zombies. Houve vários truques de perspectiva para fazer as torres serem lidas bem com esse tipo de câmera top-down. Todas as texturas dos cenários e das torres foram pintadas a mão.
                </p>    
                <div class="exampleImgContainer float">
                    <img src="assets/MainImages/defensorDaHortaImg1.png" alt="Imagem da Ui do Jogo">
                </div>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/DefensorDaHortaV2.mp4">
                    //Video
                  </video>
                <p>
                    Em quesito de conteúdo e mecânicas, ele é bem simples, em parte por ser um remake de um antigo jogo feito no game maker, e foi um desafio interessante tentar fazê-lo ser divertido com o pouco que tinha. Ele ainda tem alguns problemas, mas serviu bem ao seu propósito. 
                </p>
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/DefensorDaHorta" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/15K9z2FdD01ZpmCCvvL4aTvUhNKSValwB/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Projeto</a>
            </div>
        </div>
    </div>
</div>