<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/DefensorDaHortaHorizontal.png" alt="">
            <h1>Garden Defender</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Genre:</b>  Tower Defense</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Plataforma:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Developers:</b> solo</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Development time:</b> Less than 6 months</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/DefensorDaHortaV1.mp4">
                    //Video
                  </video>
                <p>
                    Garden Defender was a tower defense developed on my vacation. It was made to understand how the tower defense system worked, in a practical way, since I still didn't have much experience in programming in this style more focused on level design. In it I had to deal with ways to fix art problems right in the code and modularize important information for a level designer. In general, programming the game was even easy, given the short production time.
                </p>
            </section>
            <section class="invert">
                <p class="left">
                    It was a lot of fun doing the illustrations and character concepts for the game, which was very based on plant-versus-zombies. There were several perspective tricks to make the turrets read well with this type of top-down camera. All the textures of the scenarios and the towers were hand-painted.
                </p>    
                <div class="exampleImgContainer float">
                    <img src="assets/MainImages/defensorDaHortaImg1.png" alt="Imagem da Ui do Jogo">
                </div>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/DefensorDaHortaV2.mp4">
                    //Video
                  </video>
                <p>
                    In terms of content and mechanics, it's pretty simple, in part because it's a remake of an old game made in Game Maker, and it was an interesting challenge trying to make it fun with what little I had. It still has some problems, but it served its purpose well.
                </p>
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/DefensorDaHorta" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/15K9z2FdD01ZpmCCvvL4aTvUhNKSValwB/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Game Demo</a>
            </div>
        </div>
    </div>
</div>