<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/NenhumAdeusParaNosHorizontal.png" alt="Imagem de titulo de Nenhum Adeus Para Nós.">
            <h1>Pouco a Pouco</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Gênero:</b>  Adventure/RPG</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Plataforma:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Desenvolvedores:</b> 8 Pessoas</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Tempo de desenvolvimento:</b>6 meses</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusParaNosV1.mp4">
                    //Video
                  </video>
                  <div>
                    <p>
                        Nenhum adeus para nós foi o projeto de TCC da faculdade. Ele foi produzido durante dois semestres, um focado principalmente em pré-produção, que incluia desenvolver ideias, tanto técnicas como artísticas, e o segundo focava em terminar o projeto. O jogo teve a característica de ter uma equipe maior do que os outros e ter sido feito principalmente de forma remota, devido a quarentena do COVID.
                    </p>
                    <p>
                        Isso fez com que tivéssemos que dominar um novo estilo de desenvolvimento, com um workflow mais bem definido, aproveitamos do google docs, do discord, planilhas e diversas outras formas para manter tudo funcionando, incluindo a melhoria do sistema de nomenclatura de arquivos que eu usava desde o primeiro semestre. 
                    </p>
                  </div>
                  
            </section>
            <section class="invert">
                <div>
                    <p>Devido ao fato de termos dois programadores e uma equipe maior, eu foquei principalmente em fazer os mapas e ajudar na roterização, isso porque eu sabia que era a área com maior risco e que iria definir bastante a qualidade artística do jogo.</p>
                    <p>Eu testei diversos estilos artísticos, incluindo modelagem baseada diretamente em fotos, que, apesar do resultado rápido e agradável, não dava um estilo que queríamos para o jogo. Um dos membros deu a sugestão de pixel art e focamos nisso para todas as texturas do jogo, utilizando muitos dos assets e aprendendo técnicas novas de modelagem de cenário.</p>
                </div>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusParaNosV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusparaNosV3.mp4">
                    //Video
                  </video>
                  <div>
                    <p>Eu tive pouca atuação de programação por causa disso, mas participei ativamente da programação da inteligência artificial do jogo e da modelagem de alguns personagens, além da maioria dos cenários.  Participei também da parte de concept art e brainstorm.</p>
                    <p>O jogo segue um zelador, já avó, lidando com sua vida e os horrores existenciais que ameaçam seu mundo durante uma guerra e o ataque de monstros, enquanto lida com trabalhos de concerto.</p>
                    <p>A história do jogo e sua temática ficaram bem completos e o primeiro ato inteiro do jogo foi terminado, com todos os plot points definidos na história funcionando. </p>
                  </div>
                 
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/Nenhum_Adeus_Para_Nos" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1kYe9BvAEd8qYNfZgoNkJ1FR-bgnGYqyA/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Projeto</a>
            </div>
        </div>
    </div>
</div>