<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/NenhumAdeusParaNosHorizontal.png" alt="Imagem de titulo de Nenhum Adeus Para Nós.">
            <h1>No Goodby for Us</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Genre:</b>  Adventure/RPG</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Platform:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Developers:</b> 8 developers</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Development time:</b>6 months</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusParaNosV1.mp4">
                    //Video
                  </video>
                  <div>
                    <p>
                        No Goodbye for Us was the college's TCC project. It was produced over two semesters, one focused primarily on pre-production, which included developing ideas, both technical and artistic, and the second focused on finishing the project. The game had the characteristic of having a larger team than the others and being done mainly remotely, due to the COVID quarantine.                    </p>
                    <p>
                        This meant that we had to master a new style of development, with a better defined workflow, we took advantage of google docs, discord, spreadsheets and several other ways to keep everything working, including improving the file naming system I used since the first semester.                    </p>
                  </div>
                  
            </section>
            <section class="invert">
                <div>
                    <p>Due to the fact that we have two programmers and a larger team, I mainly focused on making the maps and helping with the script, because I knew that it was the area with the greatest risk and that it would define the artistic quality of the game a lot.</p>
                    <p>I tested several artistic styles, including modeling based directly on photos, which, despite the quick and pleasant result, didn't give the style that we wanted for the game. One of the members suggested pixel art and we focused on that for all the textures in the game, using many of the assets and learning new techniques for modeling scenery.</p>
                </div>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusParaNosV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/NenhumAdeusparaNosV3.mp4">
                    //Video
                  </video>
                  <div>
                    <p>I had little general programming tasks because of this, but I was actively involved in the game's artificial intelligence programming and character modeling, in addition to modelling almost all scenarios. I also participated in the concept art and brainstorm part.</p>
                    <p>The game follows a janitor, now a grandfather, dealing with his life and the existential horrors that threaten hir world during a war and monster attack, while dealing with concert work.</p>
                    <p>The game's story and theme were pretty complete and the entire first act of the game was finished, with all the plot points defined in the story working.</p>
                  </div>
                 
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/Nenhum_Adeus_Para_Nos" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1kYe9BvAEd8qYNfZgoNkJ1FR-bgnGYqyA/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Game Demo</a>
            </div>
        </div>
    </div>
</div>