<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/PoucoAPoucoHorizontal.png" alt="Imagem de titulo de Pouco a Pouco.">
            <h1>Little by Little</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Genre:</b>  Adventure/RPG</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Platform:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Developers:</b> solo</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Development time:</b> less than 6 months</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV3.mp4">
                    //Video
                  </video>
                <p>
                    Little by little was a simple project done over the holidays to test how fast it was possible to produce content for a story-driven game in a short amount of time. It was born out of a love for RPG maker games and the attempt to imitate the same simple style without boring the player. It is an point'n click game where you can interact with the world using supernatural powers. The most fun part was pre-production and concept art for the game, in addition to producing the story.               
                </p>
            </section>
            <section class="invert">
                <p class="left">
                    All textures in the game have been hand-painted, with a lot of focus on the game's atmospheric art style. One of the most interesting parts, from an artistic point of view, was the concepts and drawings, which guided the initial idea.            </p>    
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV1.mp4">
                    //Video
                  </video>
                <p>
                    The game is very simple, it follows a boy lost in the world of the dead, having to assume the role of a ghost to escape. The game has several formulas to facilitate artistic development, such as generating animations for objects using parenting and a highly modifiable system of sequential events.            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/PoucoAPouco_Teste" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1Xy3xpz8MoubZ1wD7p474AyE4Rdz6KrXm/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Game Demo</a>
            </div>
        </div>
    </div>
</div>