<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/PoucoAPoucoHorizontal.png" alt="Imagem de titulo de Pouco a Pouco.">
            <h1>Pouco a Pouco</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Gênero:</b>  Adventure/RPG</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Plataforma:</b> PC</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Desenvolvedores:</b> solo</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Tempo de desenvolvimento:</b> menos de 6 meses</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV3.mp4">
                    //Video
                  </video>
                <p>
                    Pouco a pouco era um projeto simples feito nas férias para testar o quão rápido era possível produzir conteúdo para um jogo focado em história em pouco tempo. Ele nasceu do gosto por jogos de rpg maker e a tentativa de imitar o mesmo estilo simples sem entediar o jogador. Ele é point’n click onde você pode interagir com o mundo utilizando de poderes sobrenaturais.
                    A parte mais divertida foi a pré-produção e o concept art do jogo, além da produção do roteiro.                
                </p>
            </section>
            <section>
                <p class="left">
                    Todas as texturas do jogo foram pintadas a mão, com bastante foco no estilo artístico atmosférico do jogo. Uma das partes mais interessantes, do ponto de vista artística, foram os conceitos e desenhos, que guiaram a ideia inicial.                </p>    
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/PoucoAPoucoV1.mp4">
                    //Video
                  </video>
                <p>
                    O jogo é bem simples, ele segue um garoto perdido no mundo dos mortos, tendo de assumir a função de um fantasma para escapar. O jogo possui diversas fórmulas para facilitar o desenvolvimento artístico, tal como gerar animações para os objetos usando parentagem e um sistema próprio de eventos sequenciais altamente modificável.                </p>
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/PoucoAPouco_Teste" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1Xy3xpz8MoubZ1wD7p474AyE4Rdz6KrXm/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Projeto</a>
            </div>
        </div>
    </div>
</div>