<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="jogosGrid">
        <a routerLink="/defensorDaHorta" routerLinkActive="activeLink" >
            <img src="assets/DefensorDaHortaHorizontal.png" alt="">
            <p>Garden Defender</p>
        </a>
        <a routerLink="/poucoAPouco" routerLinkActive="activeLink">
            <img src="assets/PoucoAPoucoHorizontal.png" alt="">
            <p>Little by Little</p>
        </a>       
        <a routerLink="/nenhumAdeusParaNos" routerLinkActive="activeLink">
            <img src="assets/NenhumAdeusParaNosHorizontal.png" alt="">
            <p>No Goodby for Us</p>
        </a>    
        <a routerLink="/kappasQuest" routerLinkActive="activeLink">
            <img src="assets/KappasQuestHorizontal.png" alt="">
            <p>Kappa's Quest</p>
        </a>   
    </div>
</div>
