@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap');

.jogosGrid{
    width: 90vw;
    margin-left: 150px;
    display: block;
    overflow: auto;
}

.jogo{
    position: relative;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

a{
    display: block;
    position: relative;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}


.jogosGrid img{
    transform: scale(1.05);
    width: 1900px;
    filter: brightness(70%)
}

.jogosGrid img:hover{
    filter: brightness(100%);
    transform: scale(1);

}

.jogosGrid p{
    position: absolute;
    width: 100%;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(235, 235, 235);
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 100%);
    pointer-events: none;
}

@media screen and (max-width:600px){
    .jogosGrid{
        width: 100%;
        margin-left: 0px;
        padding-top: 80px;
    }

    .jogosGrid img{
       margin-left: -800px;
    }
}

