<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="jogosGrid">
        <a routerLink="/defensorDaHorta" routerLinkActive="activeLink" >
            <img src="assets/DefensorDaHortaHorizontal.png" alt="">
            <p>Defensor Da Horta</p>
        </a>
        <div class="jogo">
            <img src="assets/PoucoAPoucoHorizontal.png" alt="">
            <p>Pouco a Pouco</p>
        </div>        
        <div class="jogo"></div>
        <div class="jogo"></div>

    </div>
</div>
