<div class="mainPage">
    <div class="mainInformation">
        <div class="name">Rafael Rocha</div>
        <div class="job">Game Dev</div>
        <div class="menuOptions">
            <a routerLink="games" routerLinkActive="activeLink" class="option" (mouseenter) ="changeCurrentImage('1')" (mouseleave)="stopShowingImage()">
                <p>Games</p> 
                <div class="optionButton"></div>
            </a>
            <div class="option" (mouseenter) ="changeCurrentImage('2')" (mouseleave)="stopShowingImage()">Arte
                <div class="optionButton buttonYellow"></div>
            </div>
            <div class="option">Docs
                <div class="optionButton buttonGreen"></div>
            </div>
            <div class="option">Sobre
                <div class="optionButton buttonRed"></div>
            </div>
        </div>

    </div>
    <div class="detailRetangle"></div>
    <div class="detailRetangle2"></div>
    <div class="detailRetangle3"></div>
    <div class="tallRetangle"></div>
    <div class="tallRetangle2"></div>
    <div class="mainColor">
        <img src='assets/MainImages/{{currentImage}}.png' alt="" *ngIf="showingImage">
    </div>

    <a routerLink="games" routerLinkActive="activeLink" >asdasd</a>
</div>