<div class="mainPage">
    <div class="mainInformation">
        <div class="name">Rafael Rocha</div>
        <div class="job">Game Dev</div>
        <nav class="menuOptions">
            <a routerLink="games" routerLinkActive="activeLink" class="option" (mouseenter) ="changeCurrentImage('1')" (mouseleave)="stopShowingImage()">
                <p>Games</p> 
                <div class="optionButton"></div>
            </a>
            <a routerLink="arte" routerLinkActive="activeLink" class="option" (mouseenter) ="changeCurrentImage('2')" (mouseleave)="stopShowingImage()">Art
                <div class="optionButton buttonYellow"></div>
            </a>
            <a routerLink="docs" routerLinkActive="activeLink" class="option">Docs
                <div class="optionButton buttonGreen"></div>
            </a>
            <a routerLink="sobre" routerLinkActive="activeLink" class="option" (mouseenter) ="changeCurrentImage('2')" (mouseleave)="stopShowingImage()">About
                <div class="optionButton buttonRed"></div>
            </a>
        </nav>

    </div>
    <div class="detailRetangle"></div>
    <div class="detailRetangle2"></div>
    <div class="detailRetangle3"></div>
    <div class="tallRetangle"></div>
    <div class="tallRetangle2"></div>
    <div class="mainColor">
        <img src='assets/MainImages/{{currentImage}}.png' alt="" *ngIf="showingImage">
    </div>
</div>