.content{
    margin-left: 150px;
}

img{
    padding: 20px 40px 20px 20px;
    width: 400px;
}

.informacaoPerfil{
    font-family: 'Archivo', sans-serif;
    color: #32323F;
}

.descricao{
    background-color: #C5CCDD;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.formacao{
    background-color: #C5CCDD;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.linguagens{
    background-color: #C6DDC5;
    color: rgb(6, 8, 3);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
}

.projetos{
    background-color: #C6DDC5;
    color: rgb(6, 8, 3);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
}

.yellow{
    background-color: #dbddc5;
}

.linguagens p{
    padding-left: 15px;
}

.formacao .paragrafo{
    display: flex;
}

.titulo{
    border-bottom: 2px dashed rgb(143, 143, 143);
}

.formacao b{
    font-size: 1.6rem;
    color: rgb(15, 15, 17);
    font-weight: normal;
    padding-left: 15px;
}

.desfoque{
    color: rgb(116, 116, 117);
    font-size: 1.2rem;
    padding-left: 15px;
}

.row{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 2.3rem;
    border-bottom: 2px dashed rgb(131, 128, 143);
    margin-bottom: 5px;
}

h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.icones{
    color: rgb(37, 37, 39);
    font-size: 2rem;
    text-decoration: none;
}

.icones a{
    margin-right: 15px;
}

a:link {
    color: rgb(25, 25, 68);
  }

a:visited {
    color: rgb(25, 25, 68);
}

@media screen and (max-width:600px){
    .content{
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
}