<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">

<app-menu-lateral></app-menu-lateral>
<div class="content">

    <div class="row">
        <div class="fotoPerfil">
            <img src="assets/Foto.jpeg" alt="Foto de Rafael Rocha">
        </div>
        <div class="informacaoPerfil">  
            <div class="descricao">
                <h1>Rafael Rocha de Alcântara</h1>
                <h2>Technical Artist/ Indie Developer</h2>
                <p>
                    Brazilian developer born in Belo Horizonte. I have three years of experience working in game production teams, and have participated in several areas of development, such as programming, art management and 3D modeling.</p>
                <div class="icones">
                    <a href="https://github.com/rafaelrocha00" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>  
                    <a href="https://br.linkedin.com/in/rafael-rocha-de-alcantara-71b28016a" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a> 
                </div>
            </div>

            <div class="formacao">
                <h2 class="titulo">Education:</h2>
                <p>
                    <b>Digital Games</b> - PUC Minas
                </p>             

                <div class="desfoque">2018 - 2020</div>
            </div>  

            <div class="linguagens">
                <h2 class="titulo">Languages:</h2>
                <p>Português - Native</p>
                <p>Inglês - Advanced</p>
            </div>

            <div class="linguagens">
                <h2 class="titulo">Technologies:</h2>
                <p>Unity</p>
                <p>C#</p>
                <p>ShaderLab</p>
                <p>HTML/CSS</p>
                <p>Javascript</p>
                <p>Typescript</p>
                <p>Angular</p>
                <p>React</p>
            </div>

            <div class="linguagens">
                <h2 class="titulo">Art:</h2>
                <p>Ilustration</p>
                <p>Texturing</p>
                <p>3D Modelling</p>
                <p>Basic Rigging</p>
            </div>

            <div class="projetos yellow">
                <h2 class="titulo">Projects:</h2>
                <p>
                    <b>Garden Defender</b>
                </p>             

                <div class="desfoque">2018 - 2019</div>
                
                <p>
                    <b>No Goodby For Us</b>
                </p>             

                <div class="desfoque">2019 - 2020</div>

                <p>
                    <b>Little by Little</b>
                </p>             

                <div class="desfoque">2020 - 2021</div>
            </div>

        </div>

        
    </div>   
</div>