<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">

<app-menu-lateral></app-menu-lateral>
<div class="content">

    <div class="row">
        <div class="fotoPerfil">
            <img src="assets/Foto.jpeg" alt="Foto de Rafael Rocha">
        </div>
        <div class="informacaoPerfil">  
            <div class="descricao">
                <h1>Rafael Rocha de Alcântara</h1>
                <h2>Artista Técnico/ Desenvolvedor Indie</h2>
                <p>
                    Desenvolvedor brasileiro nascido em Belo Horizonte. Tem experiência de três anos trabalhando em equipes de produção de jogos, já participou em diversas áreas do desenvolvimento, tal como programação, gerencia de arte e modelagem 3D.
                </p>
                <div class="icones">
                    <a href="https://github.com/rafaelrocha00" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>  
                    <a href="https://br.linkedin.com/in/rafael-rocha-de-alcantara-71b28016a" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a> 
                </div>
            </div>

            <div class="formacao">
                <h2 class="titulo">Formação:</h2>
                <p>
                    <b>Jogos Digitais</b> - PUC Minas
                </p>             

                <div class="desfoque">2018 - 2020</div>
            </div>  

            <div class="linguagens">
                <h2 class="titulo">Linguas:</h2>
                <p>Português - Nativo</p>
                <p>Inglês - Avançado</p>
            </div>

            <div class="linguagens">
                <h2 class="titulo">Tecnologias:</h2>
                <p>C#</p>
                <p>Typescript</p>
                <p>Unity</p>
                <p>ShaderLab</p>
            </div>

            <div class="projetos yellow">
                <h2 class="titulo">Projetos:</h2>
                <p>
                    <b>Defensor Da Horta</b>
                </p>             

                <div class="desfoque">2018 - 2019</div>

                <p>
                    <b>Pouco a Pouco</b>
                </p>             

                <div class="desfoque">2019</div>
            </div>

        </div>

        
    </div>   
</div>