<app-menu-lateral></app-menu-lateral>
<section class="content">
            
    <div class="column">
        <img src="assets/Ilustracoes/Gnomos.png">
        <img src="assets/Ilustracoes/Klaus.png">
                
    </div>
    <div class="column">
        <img src="assets/Ilustracoes/FlorestaDoInverno.png">
        <img src="assets/Ilustracoes/OverTheGardenWall.png">
        <img src="assets/Ilustracoes/Oneshot.png">

    </div>
    <div class="column">
        <img src="assets/Ilustracoes/Angel.png">
        <img src="assets/Ilustracoes/EstudoValor1.png">
        <img src="assets/Ilustracoes/StillLife2.png">  
    </div>
</section>
