<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/KappasQuestHorizontal.png" alt="">
            <h1>Kappa's Quest</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Genre:</b>  Action/Fight</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Platform:</b> Mobile</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Developers:</b> 6 Developers</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Development time:</b> 6 months</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV1.mp4">
                    //Video
                  </video>
              <div>
                <p>Kappa's Quest was a game developed as a final project for the college's mobile subject. It was being developed in parallel with the tcc project and served mainly to understand how a commercial game was produced on the platform.</p>
                <p>So the biggest problem we approached early on was lack of time and scope control. Due to the lack of experience in game design in the mobile market, we decided that it would be better to produce a limited game first and add content as time came, this kept the game in a limited scope and also became adaptable to the problems that arose when working on two projects, assignments and end-of-semester exams, in addition to keeping the team's spirits up with a good result during the first assessment.</p>
              </div>
            </section>
            <section class="invert">
               <div> 
                <p>The ideas that emerged had as a constant an RPG that focused on dynamic battles instead of turn-based battles, which were usual in the genre. The formal system was a motionless fighting roguelike, where the player could defend themselves and use spells, growing stronger by stealing power from enemies with each victory. One of the programmers focused on making combat work and I focused on programming the rest of the system, allowing the core mechanics to get the attention they needed.</p>
                <p>As storytelling was not a main aspect of this project, it was based on creating varied and interesting designs that would draw attention in the saturated market of mobile. It follows a kappa into a fighting tournament to prove his honor.</p>
               </div>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV3.mp4">
                    //Video
                  </video>
                 <div> <p>The most interesting challenge from a programming point of view, in my case, was the automatic generation of the graph, which is used as a fase selector. As we were still in testing time, I didn't know how far it would have to be extended, but the result turned out to be very functional.</p>
                    <p>Another risk was the production of assets, which tends to take much longer than programming, even with the high number of artists in the group. The final choice ended up being a flat game, which is much cheaper (since it doesn't require sculpting or uv mapping) and the UI was pixel art, which was a specialty of one of the artists.</p>
                    <p>The initial workflow worked very well and the combat was fun. The biggest problem was in the second half, when TCC started taking the valued resources, but when that happened, Kappa's Quest already had a very well-built foundation.</p></div>
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/Kappas-Quest" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1KLoaUovzFcKDKAR6BYiUXSmzmxbbjquI/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Game Demo</a>
            </div>
        </div>
    </div>
</div>