<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;300&display=swap" rel="stylesheet">


<div class="container">
    <app-menu-lateral></app-menu-lateral>
    <div class="mainInformation">
        <div class="imgContainer">
            <img src="assets/KappasQuestHorizontal.png" alt="">
            <h1>Kappa's Quest</h1>
        </div>

        <div class="marg-lateral">
            <div class="informacaoSecundaria">
                <div class="info"><i class="fa fa-rocket"></i><b>Gênero:</b>  Action/Fight</div>
                <div class="info"><i class="fas fa-desktop"></i><b>Plataforma:</b> Mobile</div>
                <div class="info"><i class="fas fa-user-friends"></i><b>Desenvolvedores:</b> 6 Pessoas</div>
                <div class="info"><i class="fas fa-user-clock"></i><b>Tempo de desenvolvimento:</b> 6 meses</div>
            </div>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV1.mp4">
                    //Video
                  </video>
              <div>
                <p>Kappa's Quest foi um jogo desenvolvido como projeto final da matéria de mobile da faculdade. Ele estava sendo desenvolvido paralelamente ao projeto de tcc e servia principalmente para entender como um jogo comercial era produzido na plataforma.</p>
                <p>Sendo assim, o maior problema que nos aproximamos no início era a falta de tempo e controle de escopo. Por causa da falta de experiência em game design no mercado de mobile, decidimos que seria melhor produzir um jogo limitado primeiro e ir adicionando conteúdo conforme fosse surgindo tempo, isso fez com que o jogo se mantivesse em um escopo limitado e também se tornasse adaptável aos problemas que surgiam ao trabalhar em dois projetos, trabalhos e provas de fim de semestre, além de manter o bom ânimo da equipe com um bom resultado durante a primeira avaliação.</p>
              </div>
            </section>
            <section class="invert">
               <div> 
                <p>As ideias que surgiam tinham como constante um RPG que focasse em batalhas dinâmicas em vez de batalhas por turno, que eram costume no gênero. O sistema formal era um roguelike de luta sem movimento, onde o jogador podia se defender e utilizar magias, ficando mais forte ao roubar o poder dos inimigos em cada vitória. Um dos programadores focou em fazer o combate funcionar e eu foquei em programar o resto do sistema, permitindo que a mecânica principal recebesse a atenção que precisava.</p>
                <p>Como a narrativa não era um aspecto principal nesse projeto, ela foi feita baseada em criar designs variados e interessantes, que chamassem a atenção no mercado saturado de mobile. Ela segue um kappa em um torneio de luta para provar sua honra.</p>
               </div>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV2.mp4">
                    //Video
                  </video>
      
            </section>

            <section>
                <video width="720" height="640" controls playsinline autoplay muted loop>
                    <source src="assets/Videos/KappasQuestV3.mp4">
                    //Video
                  </video>
                 <div> <p>O desafio mais interessante do ponto de vista de programação, no meu caso, foi a geração automática do grafo, que é usado como seletor de fases. Como ainda estávamos em tempo de testes, não sabia até que ponto ele teria que ser estendido, mas o resultado acabou ficando bem agradável.</p>
                    <p>Outro risco era a produção de assets, que tende a demorar muito mais do que a programação, mesmo com o número elevado de artistas no grupo. A escolha final acabou sendo de um jogo flat, que é bem mais barato (já que não requer escultura nem mapa uv) e a UI em pixel art, que era especialidade de um dos artistas.</p>
                    <p>O workflow inicial funcionou muito bem e o combate ficou divertido. O maior problema foi na segunda metade, em que o TCC começou a tomar os recursos avaliados, mas quando isso aconteceu, Kappa's Quest já tinha uma base muito bem construída.</p></div>
            </section>
            <div class="mainButtons">
                <a href="https://github.com/rafaelrocha00/Kappas-Quest" target="blank" class="orange"><i class="fab fa-github"></i>GitHub</a>
                <a href="https://drive.google.com/file/d/1KLoaUovzFcKDKAR6BYiUXSmzmxbbjquI/view?usp=sharing" target="blank" class="buttonblue"><i class="fas fa-download"></i>Projeto</a>
            </div>
        </div>
    </div>
</div>